/*-----[ typography ]-----------------------------------------------------------
*/
$body-text-family              : Avenir, "DejaVu Sans", "Bitstream Vera Sans", Tahoma, Verdana, sans-serif;
$monospace-text-family         : Consolas, Menlo, "Lucida Console", monospace;

$body-text-size                : 18px;
$body-text-line-height         : 24px;

$secondary-text-size           : 15px;
$secondary-text-line-height    : 18px;

$small-text-size               : 12px;
$small-text-line-height        : $secondary-text-line-height;

$large-text-size               : 21px;
$large-text-line-height        : 1.25 * $body-text-line-height;

$page-heading-text-size        : 42px;
$page-heading-text-line-height : 2 * $body-text-line-height;

$subheading-text-size          : 30px;
$subheading-text-line-height   : 1.5 * $body-text-line-height;
