/*-----[ exercise list ]--------------------------------------------------------
| Styles for the exercise list page.
*/
.exercise-index {
  background-color: $page-bg;

  .page {
    margin: $body-text-line-height 0;
    padding: $body-text-line-height $column-width;
    max-width: 800px;

    background-color: $content-bg;

    ol:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $screen-md-min) {
      margin: $section-spacing auto;
      padding: (1.5 * $body-text-line-height) $gutter-width;

      @include border-radius(15px);
    }
  }
}

.exercise-footer {
  margin: $body-text-line-height auto;
  max-width: 500px;

  text-align: center;
}
