/*-----[ login ]----------------------------------------------------------------
| Styles for the login page. See _feature-1.scss for more details on how
| feature-specific styles should be organized.
*/
#login .page {
  padding: $body-text-line-height $column-width;

  h1 {
    @include subheading-text;
  }

  p:last-of-type,
  dl:last-of-type,
  ol:last-of-type,
  ul:last-of-type, {
    margin-bottom: 0;
  }

  form {
    margin-bottom: $section-spacing;
  }

  input[type=email],
  input[type=password] {
    width: 100%;
  }

  footer {
    color: $secondary-text-color;

    font-style: italic;
  }
}

@media (min-width: $screen-sm-min) {
  #login .page {
    max-width: 400px;

    h1 {
      @include heading-text;
    }
  }
}

@media (min-width: $screen-md-min) {
  #login .page {
    margin: 50px auto;
    border: 2px solid $silver;

    @include border-radius(15px);
  }
}
