/*------------------------------------------------------------------------------
| application.css
| application name v1.0
|
| This file rolls up the main styles for the entire application. You'll need to
| include the IE-specific and print stylesheets, as well as the display-size-
| specific styles separately in your markup. See the readme for an explanation
| of the directory organization.
------------------------------------------------------------------------------*/

// Reset - use Compass' reset mixins
@import 'compass/reset';

// Third-party mixins
@import 'compass/css3';
@import 'susy';

// ----- Icon fonts
@import 'font-awesome';

// Basics
@import 'colors';
@import 'typography';
@import 'grid';

// Shared
@import 'sassybuttons';
@import 'shared/mixins'; // Specify path since FA also has a _mixins.scss file
@import 'foundation';
@import 'page';
@import 'forms';
@import 'alerts';
@import 'pagination';
@import 'header';
@import 'footer';

// Feature-/page-specific
@import 'documentation';
@import 'login';
@import 'parallax-example';
@import 'style-guide';
@import 'feature-1';
